:root {
	--bg-color: oklch(43.9% 0 0);
	--fg-color: oklch(92.2% 0 0);
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-color: oklch(92.2% 0 0);
		--fg-color: oklch(43.9% 0 0);
	}
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
}
